ion-col {
    text-align: center;
}

.tab2-img {
    width: 100%;
    height: 400px;
    padding-left: initial;
    padding-top: 10%;
    padding-right: initial;
    position: initial;
    top: initial;
    bottom: initial;
}